<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Good Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class = "container">
    <h1>Good Management System</h1>
    <hr>
    <h2>Save Good</h2>
    <form action = '#' th:action="@{/good/saveGood}" th:object="${good}" method="POST">
        <input type="text" th:field="*{productId}" placeholder="Product Id" class="form-control mb-4 col-4">
        <input type="text" th:field="*{amount}" placeholder="Amount" class="form-control mb-4 col-4">
        <input type="text" th:field="*{note}" placeholder="Note" class="form-control mb-4 col-4">
        <input type="text" th:field="*{storeId}" placeholder="Store Id" class="form-control mb-4 col-4">
        <button type = "submit" class = "btn btn-info col-2">Save Good</button>
    </form>
    <hr>
    <a th:href="@{/good/home}">Back to Good List</a>
</div>
</body>