<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Product Composition Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container my-2">
    <h1>Product Composition List</h1>

    <a th:href="@{showNewProductCompositionForm}" class="btn btn-primary btn-sm mb-3"> Add Product Composition </a>

    <table border="2" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Parent Id</th>
            <th>Child Id</th>
            <th>Amount</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="productComposition : ${listProductComposition}">
            <td th:text="${productComposition.parentId}"></td>
            <td th:text="${productComposition.childId}"></td>
            <td th:text="${productComposition.amount}"></td>
            <td> <a th:href="@{/productComposition/showFormForUpdate/{id}(id=${productComposition.id})}" class="btn btn-primary">Update</a>
                <a th:href="@{/productComposition/deleteProductComposition/{id}(id=${productComposition.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>